.container {
    max-width: 1104px;
    margin: 0 auto;
    padding:  0 10px;
}
.nav {
    padding:  10px  0px;
    font-family: Conv_anisette-petite;
    background-color: #000000;
    .nav__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    a {
        color: #808080;
    }
    .link__items {
        line-height: 0.9;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        &:last-child {
            font-family: 'Heebo', sans-serif;
        }
        .logo_item {
            position: relative;
            &::after {
                content: '';
                height: 91%;
                width: 2px;
                background: #4d4d4d;
                position: absolute;
                right: -19px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child::after {
                left: -19px;
            }
            &:first-child {
                margin-right: 37px;
            }
            &:last-child {
                margin-left: 37px;
            }
            a {
                font-weight: 300;
                text-align: right;
                color: #e6e6e6;
                span {
                font-size: 18px;
                color: #ff1d25;
                }
            }
            p:first-child {
                font-size: 42px;
            }
        }
        .logo_item_hebrew {
            a {
              text-align: left;  
            }
            p:last-child {
                margin-left: 10px;
                font-weight: 400;
            }
        }
    }
}
.hebrew {
    text-align: right;
}
.main__section {
    padding-top: 44px;
    padding-bottom: 55px;
    align-items: center;
    .desription_stream {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 16px;
    }
    .box {
        margin-left: 13px;
        border-radius: 5px;
        width: 66px;
        height: 67px;
        text-align: center;
        background: #0071bc;
        position: relative;
        p {
            line-height: 0.9;
            font-size: 21px;
            font-weight: 500;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .stream {
        display: flex;
        height: 468px;
        margin-bottom: 15px;
    }
    .stream__chat {
        width: 36.5%;
        background: #f2f2f2;
        height: 100%;
    }
    .stream__video {
        width: 63.5%;
        background: #000000;
        height: 100%;
        display: flex;
        align-items: flex-end;
        .stream__video_desription {
            width: 100%;
            background: #3fa9f5;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            padding: 8px 0;
        }
    }
    .socials__links {
        display: flex;
        .social__links_mod {
            overflow: hidden;
            padding: 0 13px;
            width: 36.5%;
            display: flex;
            justify-content: space-between;
            a {
                height: 35px;
                width: 35px;
            }
            &:last-child {
                width: 63.5%;
                justify-content: flex-end;
                align-items: center;
            }
            .social_link {
                height: 35px;
                width: 35px;
            }
            .social_link_chat-logo {
                position: relative;
                img {
                    position: absolute;
                    top: 4px;
                }
                margin-right: 21px;
            }
            .btn__links {
                outline: 0;
                width: 35px;
                height: 35px;
                background-image: url(../images/links.svg);
                background-size: cover;
                border: 0;
                background-color: transparent;
            }
        }
        .social_link_active {
            transform: translateY(-200px);
            overflow: hidden;
            transition: 5s;
        }


    }
}